<script src="http://fb.me/react-0.13.0.js"></script>
<script src="http://fb.me/JSXTransformer-0.13.1.js"></script>

<div id="divContent"></div>
<script type="text/jsx">
	var SampleReact = React.createClass({
		render: function(){
			var data = [{"ui_value":"All rights reserved","xmlname":"rights"},{"ui_value":"ita","xmlname":"language"},{"ui_value":"Gian Girolamo, Z. (Zannichelli)","xmlname":"creator"},{"ui_value":"2016-04-07T12:04:02.499Z","xmlname":"date"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"piante, lidi, Venezia, Zannichelli, tavole, illustrazioni, colori","xmlname":"subject"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"In Venezia : appresso Antonio Bortoli, 1735.\nTrattasi di parte delle tavole originali per il libro &quot;Istoria delle piante che nascono ne’ lidi intorno a Venezia ..&quot; Opera postuma","xmlname":"description"},{"ui_value":"http:\/\/phaidradev.cab.unipd.it\/o:61439","xmlname":"identifier"},{"ui_value":"DEFAULT","xmlname":"format"},{"ui_value":"158798 bytes","xmlname":"format"},{"ui_value":"Page","xmlname":"type"},{"attributes":[{"ui_value":"ita","xmlname":"xml:lang"}],"ui_value":"Tavole originali del libro &quot;Istoria delle piante che nascono ne’ lidi intorno a Venezia ..&quot;","xmlname":"title"},{"ui_value":"Bortoli, Antonio","xmlname":"publisher"}];
			
			
		
		
		
		
		
		
		
		

			var rows = data.map(function(row){
			 return <tr>
					 <td>{row.ui_value}</td>
					 <td>{row.xmlname}</td>
					
				 </tr>
			 });
			 
			return  <table>
						<thead>
						<th></th>
						<th></th>
						<th></th>
						</thead>
						{rows}
					</table>
						
		}
	});
	
	React.render(React.createElement(SampleReact), document.getElementById("divContent"));
</script>


<div>
{rows}
</div>








